<div *ngIf="usuariosCoincidencias.length > 0; else noCoincidencias">
    <div *ngFor="let usuario of usuariosCoincidencias[0].usuarios; let i = index" id="tarjeta">
        <div class="usuario-card">
            <img [src]="usuario.rutaFotos" alt="Foto de perfil" class="perfil-img">
            <h3>{{ usuario.nombreUsuario }}</h3>
            <p>ID: {{ usuario.id_Usuario }}</p>
            <p>Género: {{ usuario.genero }}</p>
            <!-- <p>ID_Coincidencia: {{ getIdCoincidenciaByUsuario2(usuario.id_Usuario) }}</p> -->
            <!-- Agrega más campos según lo que quieras mostrar -->
            <!-- <button (click)="goToChat(usuario.id_Usuario)">Ir al chat</button> -->
        </div>
    </div>
</div>

<ng-template #noCoincidencias>
    <p>No hay coincidencias disponibles.</p>
</ng-template>
