<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
    <div class="row">
        <div class="col">
            <label for="userName">Introduce tu nombre:</label><br>
            <input type="text" formControlName="userName" placeholder="Nombre de usuario" class="form-control" required>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="edad">Introduce tu Fecha de Nacimiento:</label><br>
            <input type="date" [max]="today" formControlName="fechaNacimiento" placeholder="Nombre de usuario" class="form-control" (blur)="calcularEdad()" required>
        </div>
        <div class="col">
            <label for="edad">Edad:</label><br>
            <input type="number" id="edad" formControlName="edad" class="form-control" readonly>
            <p *ngIf="edadIngresada && edad < 18" style="color: red;">La edad debe ser mayor a 18 años</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="genero">Seleccione género</label><br>
            <select formControlName="genero" id="genero" class="form-select" required>
                <option value="">Seleccione su Género:</option>
                <option *ngFor="let genero of generos" [value]="genero">{{ genero }}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="orientacionSexual">Seleccione Orientacion Sexual:</label><br>
            <select formControlName="orientacionSexual" class="form-select" id="orientacionSexual" required>
                <option value="">Seleccione su Orientación sexual:</option>
                <option *ngFor="let orientacion of orientacionSexual" [value]="orientacion">{{ orientacion }}</option>
            </select>
        </div>
        <div class="col">
            <label for="orientacionSexual">¿Qué quieres que te mostremos?</label><br>
            <select formControlName="preferencias" class="form-select" id="orientacionSexual" required>
                <option value="">Seleccione uno:</option>
                <option *ngFor="let genero of generos" [value]="genero">{{ genero }}</option>
            </select>
        </div>
    </div><br>
    <div class="row">
        <div class="col">
            <button *ngIf="this.formulario.valid" type="submit" class="btn btn-primary">Siguiente</button>
            <!-- (click)="mostrarDatos()" -->
        </div>
    </div>
</form>
