<!-- <div *ngIf="user; else noUser" class="card" style="width: 18rem;">
    <img *ngIf="user.rutaFotos" [src]="user.rutaFotos" class="card-img-top" alt="Foto de perfil">
    <div class="card-body">
      <h5 class="card-title">Perfil de {{ user.nombreUsuario }}</h5>
      <p class="card-text"><strong>Género:</strong> {{ user.genero }}</p>
      <p class="card-text"><strong>Edad:</strong> {{ user.edad }}</p>
      <p class="card-text"><strong>Descripción:</strong> {{ user.descripcion }}</p>
      <p class="card-text"><strong>Intereses:</strong> {{ user.intereses }}</p>
    </div>
  </div>
  <ng-template #noUser>
    <p>No se encontró ningún usuario en el almacenamiento local.</p>
  </ng-template> -->

<div class="row" *ngIf="user; else noUser">
    <div class="col-6">
        <img *ngIf="user.rutaFotos" [src]="user.rutaFotos" style="width: 400px; margin-left: 35%;" class="card-img-top" alt="Foto de perfil">
    </div>
    <div class="col-6">
        <h1 class="card-title">{{ user.nombreUsuario }}, {{ user.edad }}</h1>
        <h3 class="card-subtitle">{{ user.descripcion }}</h3>
        <p class="card-text"><strong>Género:</strong> {{ user.genero }}</p>
        <p class="card-text"><strong>Intereses:</strong> {{ user.intereses }}</p>
    </div>
</div>

<ng-template #noUser>
    <p>No se encontró ningún usuario en el almacenamiento local.</p>
</ng-template>