<form (submit)="onSubmit()" [formGroup]="formulario" enctype="multipart/form-data">
  <div class="row">
      <div class="col-12">
        <label for="fotoPublicacion">
          <mat-icon style="cursor: pointer;">add_photo_alternate</mat-icon>
        </label>
          <input type="file" id="fotoPublicacion" formControlName="fotoPublicacion" (change)="onFileSelected($event); previsualizar($event)" class="form-control d-none" accept="image/*">
          <img *ngIf="imageUrl" [src]="imageUrl" alt="Previsualización de la imagen" style="max-width: 400px; height: auto; margin-top: 10px;">
      </div>
      <div class="col-12"><br>
          <label for="descripcion">Introduce una descripción sobre tí:</label><br>
          <textarea name="descripcion" formControlName="descripcion" class="form-control"></textarea>
      </div>
  </div>
  <div class="row">
      <div class="col"><br>
          <button *ngIf="formulario.valid" class="btn btn-primary">Enviar</button>
      </div>
  </div>
</form>


<p>(La publicación puede tardar hasta 1 minuto en subirse)</p>