.example-container {
  height: 100%;
}

.content {
  padding: 20px;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
}

mat-sidenav-content {
  padding-top: 64px; /* Altura del toolbar */
}

/* Añadir padding al contenido dentro del mat-sidenav */
mat-sidenav {
  padding: 20px;
}

mat-sidenav p {
  margin: 16px 0; /* Margen adicional para los elementos del menú */
}

/* Estilos para el botón de menú hamburguesa */
.menu-button {
  position: absolute;
  left: 0;
  transition: left 0.3s ease, right 0.3s ease;
}

.menu-button.open {
  transform: translateX(220px); /* Ajustar según el ancho del sidenav */
}

.app-title {
  flex: 1;
  text-align: center; /* Centrar el texto del título */
  font-size: 20px; /* Ajustar el tamaño de fuente si es necesario */
}

/* Estilo para el botón de logout */
.logout-button {
  margin-left: auto;
}

mat-sidenav button {
  display: block;
  width: 100%; 
  text-align: left; 
  margin-bottom: 8px;
}

.mat-sidenav-container {
  height: 100vh; /* Establece la altura al 100% del viewport */
  display: flex; /* Usa flexbox para distribuir los elementos */
}

mat-sidenav {
  flex: 0 0 auto; /* El sidenav no se redimensiona y toma su tamaño de contenido */
}

mat-sidenav-content {
  flex: 1; /* El contenido se expande para llenar el espacio disponible */
  overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es demasiado largo */
}
