<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <ng-container *ngIf="esAdmin">
      <button *ngFor="let page of listaAdmin" [routerLink]="page.route" mat-button>
        {{ page.label }}
      </button>
    </ng-container> 
    <ng-container *ngIf="!esAdmin">
      <button *ngFor="let page of lista" [routerLink]="page.route" mat-button>
        {{ page.label }}
      </button>
    </ng-container>      
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" [ngClass]="{ 'open': sidenav.opened }" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">Mi Aplicación</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="logout()" class="logout-button">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Contenido principal de la aplicación -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
