<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" >
    <!-- Contenido del menú con padding -->
    <p><a href="#">Item 1</a></p>
    <p><a href="#">Item 2</a></p>
    <p><a href="#">Item 3</a></p>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" [ngClass]="{ 'open': sidenav.opened }" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Mi Aplicación</span>
    </mat-toolbar>
    <!-- Contenido principal de la aplicación -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
