<body>
<div class="container">
    <h1 class="title">Bienvenido a NewCoup</h1>
    <p class="subtitle">Encuentra tu pareja ideal hoy mismo</p>
    <button class="cta" (click)="redirigir()">Comenzar</button>
</div>
<footer class="footer">
    <div class="footer-content">
      <p>Contacto: <a href="mailto:soporte@newcoup.com">cordobaharo&#64;gmail.com</a></p>
      <div class="social-icons">
        <a href="https://www.instagram.com/Crdbaa04" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/marcos-c%C3%B3rdoba-haro-6689b7274/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://twitter.com/crdbaa" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </footer>
</body>