<div class="row">
    <div class="col-3 d-flex justify-content-center align-items-center" style="border: 1px white solid;"
        (dragover)="onDragOver($event, 'dislike')" 
        (drop)="onDrop($event, 'dislike')" 
        (dragleave)="onDragLeave('dislike')">
        <!-- Contenedor de dislike -->
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <div class="col-6 d-flex justify-content-center" style="border: 1px white solid;">
        <!-- Contenedor de la tarjeta -->
        <app-card [user]="user" [imageUrl]="imageUrl" id="capaArrastrable" draggable="true" 
        (drag)="onDrag($event)" 
        (dragend)="onDragEnd($event)"></app-card>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center" style="border: 1px white solid;" 
        (dragover)="onDragOver($event, 'like')" 
        (drop)="onDrop($event, 'like')" 
        (dragleave)="onDragLeave('like')">
        <!-- Contenedor de like -->
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div>
